[Unit]
Description=GCE HadoopCatalog Fakepaca Rust extractor
After=tansu-topic.service iceberg-loader.service
Requires=tansu-topic.service

[Service]
Type=simple
User=gcehcatalog
Group=gcehcatalog
EnvironmentFile=/etc/gce-hadoop-catalog/runtime.env
EnvironmentFile=-/etc/gce-hadoop-catalog/fakepaca.env
WorkingDirectory=/opt/gce-hadoop-catalog/current
ExecStart=/opt/gce-hadoop-catalog/current/bin/wsr
Restart=on-failure
RestartSec=5
